.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LoginLeft {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 10px;
}
.logo {
    font-family: "McLaren", cursive;
    font-size: 55px;
    font-weight: 300; 
    text-shadow: 2px 4px #565050;
    color: #F68F00;
    margin: 0;
    padding: 0; 
}
.heading {
    margin-top: 50px;
   margin-left: 12px;
   font-family: "McLaren", cursive;
    font-size: 30px; 
    margin: 0;
    padding: 0;  
}
.logo > span {
    color: black;
}
.loginTextFieldsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.forgotPasswordText{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.textfield{
   width: 100%;
   padding: 20px;
   border: #EACECE;
   border-radius: 20px;
   background-color: #EACECE;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   box-sizing: border-box;
   margin-bottom: 10px;
}
input::placeholder{
    color: #000;
}
.LoginRight{
    background-image: url("../../asset/picture/login.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 50%;
    background-position: center center;
    background-size: contain;
}
.loginButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.button {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
    border: 4px solid;
}

.primaryButton{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.456);
    background-color: #F68F00;
    border-color: #F68F00;
}
.primaryButton:hover{
    box-shadow: none;
}
.secondaryButton{
    border-color: white;
    background-color: white;
}
.secondaryButton:hover{
    border-color: white;
    color: black;
    background-color: transparent;
}
.loginLogoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.loginLeftSubContainer {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.loginFormContainer {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}