.button {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: ease-in-out 0.2s;
    border: 4px solid;
}
.primaryButton{
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.456);
    background-color: #F68F00;
    border-color: #F68F00;
}
.primaryButton:hover{
    box-shadow: none;
}
.secondaryButton{
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.456);
    border-color: #EACECE;
    background-color: #EACECE;
}
.secondaryButton:hover{
    box-shadow: none;
}