.scorecontainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.scoreTitle {
    margin-top: 40px;
    margin-left: -160px;
     color: #090000;
     font-family: "McLaren", cursive;
     font-size: 55px;
     font-weight: 300; 
     text-shadow: 2px 4px #565050;
    position: absolute;
 
 } 
.scoreimg {
    background-image: url("../../asset/picture/score.png");
    background-repeat: no-repeat;
    margin-top: 170px;
    margin-left: 80px;
   padding: 90px;
    height: 100%;
    width: 50%;

 }
.scorenum.right {
    width: 100%;
    padding: 12px 40px;
    margin-top: 300px;
    color: #000000;
    border-radius: 0 20px 20px 0;
   background-color:#F68F00 ;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.456);
  
}
.scorenum.left {
    width: 100%;
    padding: 12px 40px;
    margin-top: 300px;
    color: #000000;
    border-radius: 20px 0 0 20px;
   background-color:#EACECE ;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.456);
}
.scorenum {
    display: flex;
    flex-direction: row;

}